spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sys?useTimezone=true&serverTimezone=UTC
    username: root
    password: mysql
  jpa:
    hibernate:
      ddl-auto: none
      naming_strategy: org.hibernate.cfg.EJB3NamingStrategy
    open-in-view: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect    
eureka:
  client:
    service-url:
      defaultZone: 127.0.0.1:3306/

